# Front-end
frontend_base_url=

# Database
db_username=
db_password=

# Google OAuth2
google_client_id=
google_client_secret=

# GitHub OAuth2
github_client_id=
github_client_secret=

# App email
app_email=
app_password=

# JWT secret
jwt_secret=

# X-Internal_Key
internal_api_key=
